.widget {
    background: #fff;
    padding: 30px;
    margin-bottom: 25px;
    float: left;
    width: 100%;

    .widget-title {
	    font-size: 20px;
	    text-transform: uppercase;
	    font-family: 'Ubuntu', sans-serif;
	    font-weight: 500;
	    position: relative;
	    margin: 0 0 15px 0;
	    padding-bottom: 15px;
	    border-bottom: 1px solid #dad7d7;

	}
}

//categories
.widget{
	ul{
		padding: 0;
	    margin: 0;
	    list-style: none;

	    li {
		    padding: 15px 0 0 0;
		     a {
		        color: #787171;
			    font-size: 16px;
			    text-decoration: none;
			    text-transform: capitalize;
			    position: relative;
			    margin-left: 0;
			    &:hover{
			    	color: #ddbe86;
			    }
			    &:focus{
			    	color: #ddbe86;
			    }
			}
			&:first-child{
				padding-top: 0;
			}
		}
	}

	&:last-child{
		margin-bottom: 0;
	}
}
.widget.widget_recent_entries ul li span.post-date{
    position: relative;
    display : block;
    top: 0;
    left: 0;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
    font-size: 11px;
    float: none;
    margin-right: 0;
    margin-top: 2px;
    text-align: left;
}
.widget.widget_search{
	padding: 20px;
	h1{
		display: none;
	}
} 
.widget_search .search-form label {
    width: 75%;
}

//About me widget
.about-me.widget ul li {
    padding: 0;
}
.about-me{
	padding: 0;

	.about-me-wrap{
		text-align: center;
		.about-me-box {
		    position: relative;
		    padding: 25px;

		    .area-blank{
			    position: relative;
			    height: 85px;
			    background: #f6f5f5;

			    img {
				    width: 115px;
				    border-radius: 100%;
				    position: absolute;
				    top: 32%;
				    left: 31%;
				}
			}
			.author-desc {
			    position: relative;
			    padding: 80px 20px 0 20px;

			    span.author-name {
				    font-size: 18px;
				    font-family: $title-family;
				    text-transform: capitalize;
				}
			}
		}
		.about-me-footer {
		    position: relative;
		    background: #f6f5f5;
		    display: table;
		    width: 100%;

		    ul {
			    padding: 0;
			    margin: 0;
			    list-style: none;
			    display: table-cell;
			    vertical-align: middle;
			    width: 60%;

			    li {
				    display: inline-block;
				    margin-right: 14px;
				    a {
					    color: $color__text-main;
					    font-size: 16px;
					}
				}
			}

			.about-me-btn-wrap {
			    display: table-cell;
			    vertical-align: middle;
			    width: 1%;

			    .btn {
				    border: none;
				    border-radius: 0;
				    background: #ddbe86;
				    color: #fff;
				    font-size: 16px;
				    padding: 9px 14px;
				    text-transform: capitalize;
				    float: right;

				    &:hover, &:focus{
				        padding-right: 14px !important;
				    }
				    &:before{
				        position: absolute;
					    content: "";
					    width: 0;
					    height: 0;
					    right: 109px;
					    top: -1px;
					    border-style: solid;
					    border-width: 0px 2px 41px 27px;
					    border-color: transparent transparent #ddbe86 transparent;
				    }
				}
			}
		}
	}
}	


//calendar
.calendar_wrap{
	table{
		background-color: transparent;
    	width: 100%;
    	text-align: center;

    	thead{
    		background: #f6f6f6;
    	}
    	caption{
    	    padding: 9px 13px;
    		background: #ddbe86;
    		color: #fff;
    		text-align: center;
    		border: none;
    	}
    	td, th{
    	    padding: 7px;
    		transition: all .5s ease-in-out 0s;
    		border: 1px solid rgba(238,238,238,.31);
    		text-align: center;
    	}
	}
}

//Newsletter subscribe for jetpack
.jetpack_subscription_widget{
	#subscribe text p{
		display: block;
    	margin: 0 0 20px 0;
	}

	#subscribe-email{
		margin-bottom: 0;
		margin-top: 20px;
		 input {
		    width: 100%;
		    height: auto !important;
		    padding: 10px;
		    background: #fff;
		    margin-bottom: 15px;
		    outline: none;
		    border: 1px solid #b7b2b2;
		    margin-bottom: 0;
		}
	}

	#subscribe-submit{
		margin-bottom: 0;

		input{
		    width: 100%;
		    background: #ddbe86;
		    outline: none;
		    border-radius: 0;
		    border: 1px solid #ddbe86;
		    color: #fff;
		    padding: 6px 12px;
		    line-height: 26px;
		    text-transform: uppercase;
		    font-size: 16px;
		    box-shadow: none !important;
		    margin-top: 15px;
		    -webkit-transition: all .4s ease;
    		transition: all .4s ease;

		    &:hover{
		        background: transparent !important;
    			color: #787171 !important;
		    }
		}
	}
}


//newsletter subscribe for mailchimp wordpress
.widget_mc4wp_form_widget{
	.mc4wp-form-fields {

		label{
			display: block;
	    	margin: 0 0 10px 0;
	    	font-weight: normal;
		}

		input[type=email]{
			margin-bottom: -15px;
			margin-top: 0;
		    width: 100%;
		    height: auto !important;
		    padding: 10px;
		    background: #fff;
		    outline: none;
		    border: 1px solid #b7b2b2;
		}

		input[type="submit"]{
		    width: 100%;
		    background: #ddbe86;
		    outline: none;
		    border-radius: 0;
		    border: 1px solid #ddbe86;
		    color: #fff;
		    padding: 6px 12px;
		    line-height: 26px;
		    text-transform: uppercase;
		    font-size: 16px;
		    box-shadow: none !important;
		    margin-top: 15px;
		    -webkit-transition: all .4s ease;
    		transition: all .4s ease;

		    &:hover{
		        background: transparent !important;
    			color: #787171 !important;
		    }
		}
	}
}


//tags
.tagcloud {
    position: relative;
	    a{
	    background: transparent;
	    border: 1px solid #dad7d7;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 16px !important;
	    margin: 0 5px 10px 0;
	    padding: 8px 12px;
	    transition: all .8s ease 0s;
	    vertical-align: baseline;
	    white-space: nowrap;
	    color: $color__text-main;
	    text-decoration: none;

	    &:hover{
	    	background: $theme__colorbackground;
	    	color: #fff;
	    	border: 1px solid $theme__colorbackground;
	    }
	}
}
