$color__background-body: #f0f0f0;
$color__background-button: #ddbe86;
$theme__colorbackground: #ddbe86;
$body__colorbackground: #f0f0f0;

$color__heading: #0a0a0a;
$color__text-input: #666;
$color__text-input-focus: #ddbe86;
$color__link-hover: #ddbe86;
$color__text-main: #787171;

$social-nav-border: #787171;


// Typography

$title-family:  'Ubuntu', sans-serif;
$text-body: 'Lato', sans-serif;